@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    url('./assets/fonts/Roboto-Bold.ttf')
    format('TrueType');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    url('./assets/fonts/Roboto-Regular.ttf')
    format('TrueType');
    font-weight: 400;
}

:root {
/* ## Colors */
/* ### Primary */
--Tomato: hsl(4, 100%, 67%);
--Light-Tomato: hsla(4, 100%, 67%, 0.15);

/* ### Neutral */
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--Dark-Slate-Grey);
}

#signup-page > main {
    padding: 5vw;
}

.header-element {
    width: 100%;
    position: relative;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: flex-start;
}

li > p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 4vh;
}

#labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    font-size: 3vw;
    font-weight: 700;
}

#errorMsg {
    text-align: right;
    color: var(--Tomato);
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.errorState {
    border: 1px solid var(--Tomato);
    background-color: var(--Light-Tomato);
    color: var(--Tomato);
}

.btn-elem {
    padding: 1rem;
    border-radius: .5rem;
}

input {
    border: 1px solid var(--Grey);
}

button {
    border: none;
    background-color: var(--Dark-Slate-Grey);
    color: #fff;
    font-weight: 400;
    font-size: 4vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
