body {
    margin: 5vw;
}

section {
    margin-bottom: 4vh;
}

#success-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

.successMsg {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.successPageLogo {
    width: 20%;
}

h1 {
    font-weight: 700;
    font-size: 12vw;
}

p {
    font-size: 5vw;
}

button {
    width: 100%;
    border-radius: .5rem;
    padding: 2.5vh 3vw;
}

@media screen and (min-width: 900px){
    #success-page {
        min-height: 50vh;
        border-radius: 2.5rem;
    }



    section {
        width: 25vw;
        padding: 5.5vh 3.5vw;
        margin-bottom: 0;
        border: none;
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        margin: 0;
        font-size: 2vh;
    }

    button {
        margin-top: 5vh;
        font-size: 2vh;
    }
}